/*---------------------CÓDIGO GENERAL ESTILO-----------*/
html, body{
  margin: 0;
  overflow-x: hidden;  
  width: 100%;
  height: 100%;
  padding: 0;
  font-family: $font-family-sans-serif;
}
*,*:after,*:before{
  box-sizing: border-box;
}
header *, footer *{
  margin:0;
  padding:0;
  list-style:none;
  color: white;
}
.container{
  width:94%;
  max-width:1200px;
  margin:0 auto;
}
.cabecera {
  background-image: url(../images/foto-principal.jpg);
  background-size: cover;
  background-position: center;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*SECCIÓN CON LA FOTO DE LA COMIDA Y UN POCO DE SU HISTORIA*/
.comida {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  border: 1px solid black;
  border-radius: 0.4cm;
  padding: 15px;
  margin-top: 2cm;
}

.comida__foto {
  background-image: url(../images/pulpo.jpg);
  background-size: cover;
  border-radius: 0.4cm;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.comida__historia {
  border: 1px solid black;
  border-radius: 0.4cm;
  padding: 15px;
}

.historia__texto {
  border: 1px solid black;
  border-radius: 0.4cm;
  padding: 15px;
  display: flex;
  text-align: justify;
}
/*BLOQUE DE INGREDIENTES DE LA RECETA*/
.receta {
  border: 1px solid black;
  border-radius: 0.4cm;
  padding: 15px;
  margin-top: 2cm;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.receta__ingredientes, .receta__pasos {
  border: 1px solid black;
  border-radius: 0.4cm;
  padding: 15px;
}

.lista__elemento, .lista__indicacion {
  border: 1px solid black;
  border-radius: 0.4cm;
  padding: 15px;
  margin: 10px;
  text-align: justify;
}