* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  padding: 2rem;
  font-family: $font-family-sans-serif;
}

.uoc-container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  border-radius: 2rem;
  text-align: center;
}
.principal__foto {
  background-image: url(../images/catedral.jpg);
  background-size: cover;
  height: 900px;
  border-radius: 0.5cm;
}
